html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
html,
body {
  height: 100%;
}
hr {
  border: 0;
  height: 2px;
  background: #333;
  background-image: linear-gradient(to right, #203C38, #546431, #203C38);
}
footer {
  position: relative;
  z-index: 2;
  background-color: #F8F8F8;
  padding: 1px 0;
  color black;
}
video {
  margin: 0;
  padding: 0;
  max-height: 2000px;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #3F51B5;
}
section {
  padding: 100px 0;
  position: relative;
  z-index: 2;
}
nav {
  z-index: 2;
 }

.bg-primary {
  background-color: #203C38;
  color: white;
}
.bg-secondary {
  background-color: #546431;
  color: white;
}
.divider {
  margin-top: 1000px;
}
.main-header {
  color: white;
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
.video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}
.row{
  margin: 0;
  padding: 0;
}
.gradient-bg {
  background: linear-gradient(to bottom, #CBE4BD , #203C38); /* linear-gradient(to bottom, #e0e978 , #3a553f); */
  color: black;
}

/*

  NAVBAR

*/
.navbar-brand {
  margin: 0 auto;
  padding: 0;
}
.navbar-toggle {
  padding: 25px;
}




#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(32, 60, 56, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(248, 248, 248, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(32, 60, 56, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(137, 151, 94, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}

body {
	padding-top:70px;
}
.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:block !important;
}

/*

  MEDIA QUERIES

*/
